<div class="center jumbotron">
	<h1>Welcome to Quest!</h1>

	<h2>
		Begin your quest for productivity today!
		Encourage ongoing goals in your life through progress tracking and simple data visualization.
	</h2>
	
	<%= link_to "Sign up now", new_user_registration_path, class:"btn btn-primary" %>
</div>
