<div class="center jumbotron">
	<h1>Welcome to Quest!</h1>

	<h2>
		Need motivation to initiate that one dream in your life you've constantly been obsessing over?
	</h2>
	<h2>
		Embark on a Quest to help you track ongoing personal goals!
		An integrated leveling system and simple data visualization help keep your dream's ultimate goal in perspective.
	</h2>

	<%= link_to "Sign up now", new_user_registration_path, class:"btn btn-primary" %>
</div>
